@charset "utf-8";

.cfx:after{display:block;clear:both;content:"";} /* float 해제 */
* {
	margin: 0; padding: 0; list-style: none; 
	text-decoration: none;
	font-family: 'Noto Sans KR', sans-serif;
	box-sizing: border-box;
}
@font-face { 
  src: url("../font/SSFlowerRoadRegular.ttf"); 
  font-family: "FlowerRoad";
}
@font-face { 
  src: url("../font/SSShinb7Regular.ttf"); 
  font-family: "Shinb";
}

#bg { 
    background: url(../img/bg_img.jpg) no-repeat center center;
    background-size: cover; /*overflow: hidden;*/
    width: 100%; height: 1000px;
    position: relative;
}
#bg #title { 
    color: #fff; font-family: "FlowerRoad"; position: absolute;
    text-shadow: 8px 2px 2px rgba(0,0,0,0.5); opacity: 0;
}

#bg .t1 { 
    top: 18%; right: 25%;  
    font-size: 120px;
}
#bg .t2 { 
    top: 30%; right: 20%; 
    font-size: 50px; transform: rotate(-10deg);
}
#bg .t3 {
    position: absolute;
    bottom: 150px; right: 15%; color: #edebeb;
    font-family: "Shinb"; font-size: 70px;
    text-shadow: 8px 2px 2px rgba(0,0,0,0.5); opacity: 0;
}


.logo > img {
    width:400px; height: 400px;
    position: absolute;
    top: 20%; left: 9%;
    transition: all 0.7s
}
.logo > img:hover { transform: scale(1.1,1.1); }


#sub_logo { display: inline-block; margin: 660px 0 0 3%; }
#sub_logo > img { width: 120px; height: 120px; }
.sub1 img{ transform: rotate(-20deg); transition: all 0.5s}
.sub2 img{ transform: rotate(20deg); transition: all 0.5s}
.sub3 img{ transform: rotate(-20deg); transition: all 0.5s}
.sub4 img{ transform: rotate(20deg); transition: all 0.5s}

.sub1 img:hover { transform: scale(1.1,1.1); }
.sub2 img:hover { transform: scale(1.1,1.1); }
.sub3 img:hover { transform: scale(1.1,1.1); }
.sub4 img:hover { transform: scale(1.1,1.1); }





#header { 
    display: flex; justify-content: flex-end; 
    padding-bottom: 10px; background: rgba(36,40,44,0.4);
    position: fixed; top:0; right:0; 
}

#nav ul { display: flex; }
#nav ul li { padding: 10px 0; margin-top: 10px;}
#nav ul li a { color: #fff; padding: 15px 50px; transition: all 0.5s; font-size: 14px;}
#nav ul li a:hover { border-bottom: 3px solid #fff; }

#login_box { margin: 20px 15px 0 300px; }
#login_box img{ width: 20px; height: 20px; }
#login_box img:last-child{ margin-left: 10px; }

.search-box{
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-40%,-40%);
  height: 50px;
  background:#fff;
  border-radius: 30px;
  transition: 0.8s;
  width:50px;
}
.search-box:hover{ border: none; width: 450px; }
.search-btn{
  z-index: 1;
  text-decoration: none;
  float: right;
  width: 50px;
  height: 50px;
  background-color: #24282c;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6d6d6e;
  margin: -34px 0px 0 0;

}
.search-txt{
  display: flex;
  margin-top: 13px;
  margin-left: 7px;
  width: 0px;
  border: none;
  background: none;
  outline: none;
  float: left;
  font-size: 15px;
  transition:0.5s;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 1px 0 0 8px;
}

#footer { width: 100%; height: 130px; background:#24282c; position: relative;}

#footer .sns { position: absolute; top: 80px; left:45%;}
#footer .sns img { width: 20px; height: 20px; margin-left: 20px; transition: all 0.5s;}
#footer .sns a img:hover { transform: scale(1.2,1.2); }


#footer .logo_box { float: left; color: #6d6d6e; text-align: center; margin: 10px 0 0 40px;}
#footer .logo_box h1 { font-size: 40px; text-shadow: 4px 4px #000; }
#footer .logo_box h3 { font-size: 25px; text-shadow: 4px 4px #000; }

#footer .notice { float: right; margin: 15px 5% 0 0; }
#footer .notice ul { display: flex; }
#footer .notice ul li{ font-size: 12px; font-weight: bold; padding: 0 25px;}
#footer .notice ul li a { color: #6d6d6e; }

#footer .footer_box {
    width: 500px; float: right;
    font-size: 12px; color: #6d6d6e;
    font-weight: bold;
    text-align: right; padding-top: 20px;
    margin-right: 100px;
}
#footer .footer_box p:last-child { margin-top: 8px; }

/* 로그인 모달 */

.modal {
     z-index: 0;
     position: absolute;
     left: 35%; top: 25%;
     width: 450px; height: 480px;
     background-color: rgba(255,255,255,0.8);
     text-align: right; padding: 15px;
     display: none; box-shadow: 2px 2px 10px rgba(0,0,0,0.8);
     transition: all 0.6s;
     border-radius: 20px;

}
#pop > a { color: grey; text-decoration: none; font-size: 18px;}
.modal:target { display: block; z-index: 2;}
.modal:target + .modal_bg { opacity: 1; z-index: 1; }

.modal_bg{ 
      position: fixed; top: 0; left: 0; width: 100%; height: 100%;
      background: rgba(0,0,0,0.8); opacity: 0; z-index: -1;
      transition: all 0.6s;
}

.log { /*border: 1px solid red;*/ text-align: center; margin-top: 50px; position: relative;}
.log h1 { font-size: 40px; margin-bottom: 30px; }


.id_box { padding: 5px 0; }
.id_box input { 
  width: 90%; padding: 20px 0 0 0; border: none; outline: none;
  border-bottom: 1px solid #999; text-indent: 2px; background: transparent;
}
.id_box label { position: absolute; top: 85px; left: 22px; font-size: 14px; font-weight: bold;}

.pw_box { padding: 5px 0; margin-top: 10px;}
.pw_box input { 
  width: 90%; padding: 20px 0 0 0; border: none; outline: none;
  border-bottom: 1px solid #999; text-indent: 2px; background: transparent;
}
.pw_box label { position: absolute; top: 143px; left: 22px; font-size: 14px; font-weight: bold;}

.login_btn button{ 
  width: 90%; padding: 10px 0; margin-top: 25px; margin-bottom: 10px;
  background: #999; border: none; cursor: pointer;
}

.join_btn button { 
  outline: none; border: none; background-color: transparent; cursor: pointer;
}












